<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../assets/images/favicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../assets/style/style.css" />
    <title>Immersive Reader</title>
  </head>
  <body>
    <%- include('header'); %>
    <section class="text-gray-600 body-font">
      <div
        class="container mx-auto flex px-5 py-12 items-center justify-center flex-col"
      >
        
        <div class="text-center lg:w-2/3 w-full">
          <h1
            class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
          >
            MagicReader: Transformative Reading Experience for Enhanced Comprehension
          </h1>
          <p class="mb-8 leading-relaxed">
            Discover the Power of Immersive Reader, a Microsoft Technology that Empowers Users with Customizable Reading Tools, Accessibility Features, and Language Learning Support.
          </p>
          
        </div>
      </div>
    </section>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-12 mx-auto">
        <div class="flex flex-wrap -m-4">
          <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
            <div class="h-full text-center">
              <img
                alt="testimonial"
                class="profile-img w-24 h-24 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100"
                src="/assets/images/Sagar.jpg"
                style="box-shadow: 5px 5px 2px lightgreen;"
              />
              <p class="leading-relaxed">
                Highly passionate and energetic <strong>DevOps</strong> engineer
                with a strong background in infrastructure development and
                <strong
                  >CICD (Continuous Integration/Continuous Deployment)</strong
                >
                cycles. Enthusiastic and focused on enjoying life while
                completing responsibilities.
              </p>
              <span
                class="inline-block h-1 w-10 rounded bg-green-500 mt-6 mb-4"
              ></span>
              <h2
                class="text-gray-900 font-medium title-font tracking-wider text-sm"
              >
                SAGAR MEMANE
              </h2>
              <p class="text-gray-500">Project Member 1</p>
            </div>
          </div>
          <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
            <div class="h-full text-center">
              <img
                alt="testimonial"
                class="profile-img w-24 h-24 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100"
                src="/assets/images/shital.jpeg"
                style="box-shadow: 5px 5px 2px lightgreen;"
              />
              <p class="leading-relaxed">
                Adaptable
                <strong>MSC IT student at Mumbai University</strong> with a
                background in <strong>civil defense</strong>. Quick learner with
                a patient approach, blending tech expertise with leadership
                skills. Committed to leveraging knowledge for dynamic
                contributions in tech environments.
              </p>
              <span
                class="inline-block h-1 w-10 rounded bg-green-500 mt-6 mb-4"
              ></span>
              <h2
                class="text-gray-900 font-medium title-font tracking-wider text-sm"
              >
                SHITAL KURHADE
              </h2>
              <p class="text-gray-500">Project Member 2</p>
            </div>
          </div>
          <div class="lg:w-1/3 lg:mb-0 p-4">
            <div class="h-full text-center">
              <img
                alt="testimonial"
                class="profile-img w-24 h-24 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100"
                src="/assets/images/Sairam.jpeg"
                style="box-shadow: 5px 5px 2px lightgreen;"
              />
              <p class="leading-relaxed">
                Creative and artistic vision
                <strong>Game Developer/Animator</strong> who loves to make
                things Better. Quick learner and passionate about my work.
              </p>
              <span
                class="inline-block h-1 w-10 rounded bg-green-500 mt-6 mb-4"
              ></span>
              <h2
                class="text-gray-900 font-medium title-font tracking-wider text-sm"
              >
                SAIRAM DIVATE
              </h2>
              <p class="text-gray-500">Project Member 3</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('footer'); %>
  </body>
</html>
