<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/style/style.css" />
    <title>Immersive Reader</title>
  </head>
  <body>
    <%- include('header'); %>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto flex flex-wrap">
        <div class="flex flex-wrap -m-4">
          <div class="p-4 lg:w-1/2 md:w-full">
            <div
              class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col"
            >
              <div
                class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-green-100 text-green-500 flex-shrink-0"
              >
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-8 h-8"
                  viewBox="0 0 24 24"
                >
                  <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                </svg>
              </div>
              <div class="flex-grow">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-3">
                  Input Window
                </h2>
                <hr class="mb-3">
                <p class="leading-relaxed text-base">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, deleniti, explicabo autem magni nam vero cum harum dicta molestiae ex distinctio? Voluptatum provident molestias tempore accusantium. Labore similique inventore est sit repellendus esse rem, mollitia nisi! Natus eaque similique, nemo id tenetur delectus nam ipsam cumque voluptatum asperiores iure ab dicta repellat repudiandae eum ex quam necessitatibus dolore animi! Aperiam consequatur nobis expedita, veniam dolore dignissimos asperiores quasi id dolores adipisci quam optio. Odit, porro! Non nobis sequi voluptatibus cum mollitia dicta quia eveniet iusto itaque, voluptas labore amet, tempora nulla error vel molestiae sit commodi necessitatibus consequuntur vero! Fugit!
                </p>
                <a id="launch-button" class="mt-3 text-green-500 inline-flex items-center hover:bg-green-500 hover:text-white"
                  >Launch Reader
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="w-4 h-4 ml-2"
                    viewBox="0 0 24 24"
                  >
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="p-4 lg:w-1/2 md:w-full">
            <div
              class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col"
            >
              <div
                class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-green-100 text-green-500 flex-shrink-0"
              >
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-10 h-10"
                  viewBox="0 0 24 24"
                >
                  <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg>
              </div>
              <div class="flex-grow">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-3">
                  The Immersive Reader
                </h2>
                <hr class="mb-3">
                <p class="leading-relaxed text-base ">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis aperiam at fuga atque aliquam nesciunt nostrum, corporis non, quidem quibusdam eos ipsam incidunt vel voluptatum praesentium totam? Aspernatur, minus! Hic reprehenderit fuga repellendus, quidem culpa amet sequi laboriosam? Repellat earum sunt cum consectetur atque, ipsum fugit obcaecati perspiciatis illo, tenetur natus, exercitationem impedit. Esse adipisci possimus consequuntur deserunt ratione magni excepturi quasi aut ipsam inventore, explicabo, fugiat odit laborum est omnis! Eos debitis, magni odio repudiandae alias corrupti doloribus exercitationem tenetur perspiciatis excepturi, deleniti, temporibus iusto architecto ipsum dicta! Temporibus dignissimos hdjhg hgjsbaoiwe .
                </p>
                <a id="read-more-button" class="mt-3 text-green-500 inline-flex items-center"
                  >Read More
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="w-4 h-4 ml-2"
                    viewBox="0 0 24 24"
                  >
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('footer'); %>y
  </body>
</html>
