@tailwind base;
@tailwind components;
@tailwind utilities;

/* My styles */

#launch-button,
#clear-button {
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  cursor: pointer;
}

#paragraph {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
  width: 100%;
}

#editable {
  max-width: 100%;
  min-height: 60px;
  overflow-y: auto;
  text-wrap: wrap;
  white-space: pre-wrap;
}

#texttitle{
  width: 100%;
  min-height: 20px;
  text-wrap: wrap;
  overflow-y: auto;
  white-space: pre-wrap;
}


.profile-img {
  width: 150px;
  height: 150px;
}
@media screen and (min-width: 640px) {
  #editable {
    min-height: 100px;
    max-width: 100%;
    text-wrap: wrap;
    white-space: pre-wrap;
  }
}
